{% extends 'base.html' %}

{% block title %}
    all_events
{% endblock %}

    {% block body %}
    
            <center><h2>Events</h2></center>

            <form action="/">
                <button>МЕНЮ</button>
            </form>
            
            {% if events.items == [] %}
                <br>
                <i>
                    <center>
                        <h3>Событий нет</h3>
                    </center>
                </i>
            {% else %}

                {% for event in events.items %}
                    <p>
                        <h3>
                            <li>                        
                                <a href="all_events/{{ event.id }}">{{ event.name }}</a>
                            </li>
                        </h3>
                    </p>

                    <form action="all_events/{{ event.id }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" name="delete_event" value="{{ event.id }}">Удалить событие</button>
                    </form> 
                {% endfor %} 

                <br><br>
                <center>
                    {% if events.has_prev %}
                        <a href="/all_events?page={{events.prev_num}}">
                            « Newer events
                        </a>
                    {% else %}
                        « Newer events
                        {% endif %} |
                    {% if events.has_next %}
                        <a href="/all_events?page={{events.next_num}}">
                            Older events »
                        </a>
                    {% else %}
                        Older events »
                    {% endif %}
                </center>

            {% endif %}

    {% endblock %}