{% extends 'base.html' %}

{% block title %}
    all_sensors
{% endblock %}

    {% block body %}

            <center><h2>Sensors</h2></center>

            <form action="/">
                <button>МЕНЮ</button>
            </form>

            {% if done_message %}
                <h3>{{ done_message }}</h3>
            {% endif %}

            {% if sensors == [] %}
                <br>
                <i>
                    <center>
                        <h3>Датчиков нет</h3>
                    </center>
                </i>
            {% else %}

                {% for sensor in sensors %}
                    <p>
                        <h3>
                            <li>
                                <a href="all_sensors/{{ sensor.id }}">
                                    ID:{{ sensor.id }}, {{ sensor.name }}, type: {{ sensor.type }}
                                </a>
                            </li>
                        </h3>
                    </p>
                    
                    <form action="all_sensors/{{ sensor.id }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" name="delete_sensor" value="{{ sensor.id }}">Удалить датчик</button>
                    </form> 
                
                {% endfor %} 

            {% endif %}
            
    {% endblock %}