{% extends 'base.html' %}

{% block title %}
    {{ event.name }}
{% endblock %}

    {% block body %}

            <center><h2><i>{{ event.name }}</i></h2></center>

            <form action="/">
                <button>МЕНЮ</button>
            </form>
            
            <p><b>ID События:</b> {{ event.id }}</p>
            <p><b>ID Датчика:</b> {{ event.sensor_id }}</p>
            <p><b>Название события:</b> {{ event.name }}</p>
            <p><b>Температура, гр. Цельсия:</b> {{ event.temperature }}</p>
            <p><b>Влажность, %:</b> {{ event.humidity }}</p>

    {% endblock %}