{% extends 'base.html' %}

{% block title %}
    sensor_events
{% endblock %}

    {% block body %}

            {% if error %}
                {{ error }}
            {% else %}

                <center><h2><i>{{ sensor.name }}</i></h2></center>

                <form action="/">
                    <button>МЕНЮ</button>
                </form>
                
                
                <h3>Название датчика: {{ sensor.name }}, тип: {{ sensor.type }}</h3>
                {%if events == [] %}
                    <br>
                    <i>
                        <center>
                            <h2>Событий нет</h2>
                        </center>
                    </i>
                {% else %}

                {% if done_message %}
                    <h3>{{ done_message }}</h3>
                {% endif %}

                {% if annotation %}
                    <h3>{{ annotation }}</h3>
                {% endif %}
                
                <form action="/all_sensors/{{ sensor.id }}/update" method="POST">
                    <p>
                        <label for="name">Введите <b>название</b> датчика:</label>
                        <br><input type="text" name="name" id="name" placeholder="Enter a string...">
                    </p>
                    <p>
                        <label for="type">Введите <b>тип</b> датчика:</label>
                        <br><input type="text" name="type" id="type" placeholder="Enter a number 1,2 or 3...">
                    </p>
                    <button type="submit">Обновить датчик</button>
                </form>

            <br> 
                    <h3>События: </h3>
                        {% for event in events %}
                            <p>
                                <h3>
                                    <li>
                                        <a href="/all_events/{{ event.id }}">{{ event.name }}</a>
                                    </li>
                                </h3>
                            </p>
                        {% endfor %}
                        
                    {% endif %}

            {% endif %} 
                          
    {% endblock %}