{% extends 'base.html' %}

{% block title %}
    sensors_API_service
{% endblock %}

    {% block body %}

        <center><h2>Events and sensors API</h2></center>

            <h3>
                Выберите действие
            </h3>

                <br><form action="/create_sensor">
                    <button>Создать датчик</button>
                </form>
                <br><form action="/create_event">
                    <button>Создать событие</button>
                </form>
                <br><form action="/all_events">
                    <button>Все события</button>
                </form>
                <br><form action="/all_sensors">
                    <button>Датчики и его события</button>
                </form>
                <br><form action="/filter">
                    <button>Фильтр по параметрам</button>
                </form>

    {% endblock %}